#result-dominant .item {
  border-radius: 10px;
}
#result-palettes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#result-palettes .item-box {
  width: 16%;
  min-width: 100px;
  margin: 2% 1%;
}
@media only screen and (max-width: 800px) {
  #result-palettes .item-box {
      width: 40%;
  }
}

#result-palettes .item {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8%;
  cursor: pointer;
  border: solid 1px rgba(0,0,0,0.1);
}
#result-palettes .item-box .item span {
  opacity: 0;
  transition: opacity 0.3s linear;
  /* user-select: none;  */
}

#result-palettes .item-box .item:hover span {
  opacity: 1;
}